* {
    box-sizing: border-box;
    word-break: break-all;
    /*background-color: #E5E5E5;*/
}

.top {
    width: 100%;
    height: 69px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EC362D;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
}

.container {
    width: 100%;
    height: 100vh;
    top: 69px;
    position: fixed;
    overflow:auto; 

    background-color: #fafafa;
}

/* ------ Tela 02 ------ */
.selectQuiz{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionQuiz{

    height: 680px;
    width: 760px;
    padding-top: 28px;
    box-shadow: 0px 0px 10px 0px #0000000D;
    background-color: #FFFFFF;
    margin-top:42px;
    margin: 42px auto 0 auto;

}
.titleQuestion{

    height: 140px;
    width: 700px;

    margin: 0 auto 0 auto;

    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.answers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
}
.answerOption{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    position: relative;
    z-index: 1;
}
.hiddenObj{
    display:none;
}
.opacityWhite{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
}
.answerOption img{
    height: 175px;
    width: 330px;
    margin-bottom: 10px;
}
.answerOption span{
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}
.endQuiz{
    height: 430px;
    width: 760px;
    background-color:#FFFFFF;
    margin-top:44px;
    margin-bottom: 57px;
    box-shadow: 0px 0px 10px 0px #0000000D;
}
.restart{
    height: 52px;
    width: 260px;
    border-radius: 15px;
    background-color: #EC362D;
    margin-bottom: 16px;
    border: none;

    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF5F4;

}
.home{
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #818181;

    height: 44px;
    width: 220px;
    margin-bottom: 85px;
}
.titleEndQuiz{
    height: 100px;
    width: 730px;
    background-color:#EC362D;
    margin: 0 auto 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;

    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}
.titleQuizz{
    height: 227px;
    width: 1440px;
    position: relative;
}
.feedback{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18px;
    margin-right: 28px;
}
.feedback img{
    height: 273px;
    width: 364px;  
}
.feedback .text{
    height: 250px;
    width: 330px;

    font-family: 'Roboto', 'san-serif';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}
.titleQuizz img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.opacity{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);

    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    color: #FFFFFF;

}
