@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #D5D5D5;
    padding: 0 70px;
}
.top {
    width: 100%;
    height: 69px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EC362D;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
}
.container {
    width: 100%;
    height: 100vh;
    top: 69px;
    position: fixed;

    overflow-y: auto;
    background-color: #fafafa;

}
.tela-01 {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 77px auto;
    z-index: 3232;

}
.quizz{
    width: 100%;
    height: 500px;
    margin-bottom: 77px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
.list-quizz {
    display: flex;
    background-color: white;
}
.user-quizz {
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    
    width: 1051px;
    height: 181px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    width: 151px;
    height: 40px;

    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    
    color: #EC362D;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
.user-list{
    width: 250px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.user-list span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #B9B9B9;
}
.all-quizz {
    
    display: flex;
    text-align: justify;
    justify-content: center;
}

.list-quizz-server {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
    width: 1080px;
    gap: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    
}
.content h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;  
    
    margin-bottom: 13px;
    width: 100%;
}
.server-list {
    gap: 30px;
}
img {
    position: relative;
    border-radius: 5px;
    z-index: -1;
 }
.quizz-header {
    position: relative;
    word-break: break-all;

}
.quizz-title {
    position: absolute;
    top: 120px;
    left: 18px;
    width: 300px;
    height: 54px;
      
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.layer{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
    );
    border-radius: 5px;
}